<!DOCTYPE html>
<html ng-app='jotIt'>
  <head>
    <base href="/">
    <title>Jot It</title>
    <!-- jQuery, jQuery.ui -->
    <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <base href="/">
  <nav class="navbar-custom navbar-default" id='navHeader'>
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand glyphicon glyphicon-edit" href="/boards">jot/it</a>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a class='glyphicon glyphicon-log-in' href="/boards">/log/in</a></li>
          <li><a class='glyphicon glyphicon-log-out' href="/">/log/out</a></li>
        </ul>
    </div>
  </nav>
    <div ng-view></div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js" charset="utf-8"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular-resource.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-route.js"></script>
    <script type="text/javascript" src='/javascripts/app.js'></script>
    <script type="text/javascript" src='/javascripts/services/boards_service.js'></script>
    <script type="text/javascript"src='javascripts/controllers/main_controller.js'></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/Note.js" type="text/babel" ></script>
    <script>
    $(document).ready(function(){
        $(document.body).html('<script type="text/javascript" src="/json.js" async="async"></script>');
    });
    </script>
    <script>
      var socket = io.connect();
    </script>
    <script src="/socket.io/socket.io.js"></script>
  </body>
</html>
