<h1>BOARD PAGE</h1>

<div class="well" ng-repeat='board in boards'>
  <p>
    {{board.title}}
  </p>
</div>


<div class="container">
  <form ng-submit='addBoard()'>
    <fieldset class="fnew">
      <legend>Create Board</legend>
      <div class="form-group">
        <label for="title">Title</label><br/>
        <input type="text" ng-model='board.title' placeholder="Book Title" name="title" class="form-control"/>
      </div>
      <div class="buttons">
        <button type="submit" class="btn btn-primary">Submit Board</button>
      </div>
    </fieldset>
  </form>
</div>

<!-- <div class="form">
  <form ng-submit='addCat()'>
    <label>Cat Name</label>
      <input type="text" ng-model='cat.name' placeholder="Enter cat name">
    <label>Cat Profile</label>
      <input type="text" ng-model='cat.profile' placeholder="Enter cat profile">
    <label>Cat Age</label>
      <input type="number" ng-model='cat.age' placeholder="Enter cat age">
    <label>Cat Active</label>
      <input type="text" ng-model='cat.active' placeholder="Is cat active?">
    <input class='sub' type="submit" value="Submit Post">
  </form> -->
